:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --title-color: #101828;
}

.metricas_container {
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content: center;
}

.metricas {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 35px;
}

.metrica_titulo {
    color: var(--main-color);
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
}

.metrica_sub-titulo {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.metrica_texto {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}